@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo', 'Helvetica Neue', Arial, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  /* Make Tailwind's `font-sans` use Pretendard */
  .font-sans {
    font-family: var(--font-sans);
  }

  /* Display */
  .typo-display-xl {
    font-size: 40px;
    line-height: 50px; /* 125% */
    font-weight: 700;
  }
  .typo-display-l {
    font-size: 40px;
    line-height: 50px; /* 125% */
    font-weight: 700;
  }
  .typo-display-m {
    font-size: 36px;
    line-height: 45px; /* 125% */
    font-weight: 700;
  }
  .typo-display-s {
    font-size: 36px;
    line-height: 45px; /* 125% */
    font-weight: 600;
  }

  /* Title */
  .typo-title-xl {
    font-size: 32px;
    line-height: 40px; /* 125% */
    font-weight: 700;
  }
  .typo-title-l {
    font-size: 28px;
    line-height: 35px; /* 125% */
    font-weight: 700;
  }
  .typo-title-m {
    font-size: 24px;
    line-height: 30px; /* 125% */
    font-weight: 700;
  }
  .typo-title-s {
    font-size: 20px;
    line-height: 25px; /* 125% */
    font-weight: 700;
  }

  /* Body */
  .typo-body-xl-m {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  .typo-body-xl-r {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .typo-body-l-m {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .typo-body-l-r {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .typo-body-m-m {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .typo-body-m-r {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  /* Button */
  .typo-button-l {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .typo-button-m {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .typo-button-s {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }

  /* Label */
  .typo-label-l {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
  .typo-label-m {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
